.SearchWrapper {
  background-color: #ffffff;
  box-shadow: inset 0px -1px 0px #e4e4e4;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding-left: 30px;
  padding-right: 30px;
  height: 8vh;
  z-index: 1;
}

#LW_Wrapper {
  flex-grow: 1;
  gap: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#LW_Wrapper p {
  margin-right: 30px;
}

#SearchBar {
  width: 40vw;
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 10px;
}

#SearchIn {
  width: 30vw;
  border: none;
  outline: none;
}

#RW_Wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#ProfilePic {
  width: 38px;
  height: 38px;
  border-radius: 19px;
  background-color: #632b4b;
}
