.NavWrapper {
  flex: 1.5;
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: inset -1px 0px 0px #e4e4e4;
  padding-left: 40px;
  justify-items: left;
  text-align: left;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;

  color: #000000;
}

#NewsFeedsLabel{
    font-size: 12px;
    line-height: 16px;
}

.Divider{
    margin-left: 40px;
    margin-right: 40px;
    height: 1px;
    background: #E4E4E4;
}

.NewsFeedItem{
    margin-right: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: left;
    text-align: left;
    gap:20px;
}

.NewsFeedItem:hover{
    background-color:#E6C6C6;
}

.selectedButt{
    background-color:#E6C6C6;
}

