.NavWrapper {
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: inset -1px 0px 0px #e4e4e4;
  padding-left: 40px;
  justify-items: left;
  text-align: left;
  width: 220px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;

  color: #000000;
}

.SectionLabel {
  margin-top: 30px;
  font-size: 12px;
  line-height: 16px;
}

.Divider {
  margin: 20px 40px;
  height: 1px;
  background: #e4e4e4;
}

/* comp 1 */
.NewsFeedItem {
  margin: 8px 10px 8px 0px;
  padding: 0px 5px 0px;
  border-radius: 15px;
  display: flex;
  justify-content: left;
  text-align: left;
  gap: 20px;
}

.NewsFeedItem:hover {
  background-color: #e6c6c6;
}

.selectedButt {
  background-color: #e6c6c6;
}

/* comp 2 */
.ProfileItem {
  display: flex;
  align-items: stretch;
  line-height: 16px;
  justify-content: space-between;
  padding-right: 20px;
  margin-top: 15px;
}

.ProfilePic {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.ProfileItem p {
  margin-top: 3px;
}

/* comp 3 */
#JoinAd {
  margin-top: 200px;
  position: relative;
  width: 216px;
  height: 366px;
  margin-left: -20px;
}

#AdClose {
  position: absolute;
  right: 0px;
  top: 0px;
}
#AdText {
  position: absolute;
  height: 108px;
  left: 24px;
  right: 24px;
  bottom: 140px;
}

#AdText h1 {
  position: absolute;
  left: 0px;
  top: 0px;

  font-size: 24px;

  color: #ffffff;
}

#AdText p {
  position: absolute;
  left: 0px;
  top: 76px;

  font-size: 12px;
  line-height: 16px;

  color: #ffffff;
}

#AdButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 43px;
  gap: 10px;

  position: absolute;
  height: 56px;
  left: 33.5px;
  right: 33.5px;
  bottom: 40px;
  /* Color/Primary/PRIMARY */

  background: #6c5dd3;
  border-radius: 16px;
}
#AdButton p {
  text-align: center;
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}


/* comp 4 */

#BottomControls {
  margin-top: 20px;
  height: 72px;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.05);
  display: flex;
}
