.background {
    /* The image used */
    margin: 0%;
    padding: 0%;
    background-image: url('../../public/background-images/LoginBackground.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
   }

.SignInUpBox {
    background: white;
    border-radius: 40px;
    width: 464px;
    height: 649px;
    position: absolute;
    right: 150px;
    bottom: 15%;
}

.Title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    left: 4%;
    top: -2%;
    position: absolute;
}



