.HorizontalFrame{
    min-width: 100vw;
    display: flex;
    min-height: 1800px;
    align-items: stretch;
    align-content: stretch;
    gap: 0px;
}

.VerticalFrame{
    flex: 8.5;
    display: flex;
    flex-grow: 8;
    flex-direction: column;
    justify-content: stretch;
    gap: 0px;
}