.btn
{
   /*Button format */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 43px;
  gap: 10px;
  background: #3F8CFF;
  border-radius: 16px;
  border: none;
  width: 195px;
  height: 56px;
  cursor:pointer;

   /*Text format */
  text-align: center;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn:active {
  background-color: #006AE8;
}

.btn:hover {
  background-color: #1C84FF;
}

.btn:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}



